<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node name="mag_shift" pkg="gps_to_path" type="get_mag_shift"
          respawn="true" respawn_delay="1.0"/>
          
    <node name="magnetometer_compass" pkg="compass" type="magnetometer_compass"
          respawn="true" respawn_delay="1.0">
        <param name="publish_true_azimuth_enu_rad" type="bool" value="true"/>
        <param name="magnetic_model" type="str" value="wmm2020"/>
    </node>

<!--    <node name="road_crossing" pkg="road_crossing" type="run_tree" 
          respawn="true" respawn_delay="1.0" output="screen">
        <param name="tree_file" type="str" value="$(dirname)/../../road_crossing/road_crossing/src/main_tree.xml"/>
    </node>-->

    <param name="road_crossing/tree_file" type="str" value="$(dirname)/../../road_crossing/road_crossing/src/main_tree.xml"/>

    <node name="start_srv" pkg="road_crossing" type="start_srv"
          respawn="true" respawn_delay="1.0" output="screen"/>

    <node name="get_finish" pkg="road_crossing" type="get_finish_srv.py"
          respawn="true" respawn_delay="1.0" output="screen"/>

    <param name="road_crossing/road_file_name" type="str" value="$(dirname)/../../../road_segments.pyc"/>

    <node name="get_segment" pkg="road_crossing" type="get_segment_srv.py"
          respawn="true" respawn_delay="1.0" output="screen">
    </node>
    
    <node name="get_suitability" pkg="road_crossing" type="get_suitability_srv.py"
          respawn="true" respawn_delay="1.0" output="screen"/>

    <param name="road_crossing/road_info_file" type="str" value="$(dirname)/../../../road_info.pyc"/>

    <node name="get_road_info" pkg="road_crossing" type="get_road_info_srv.py"
          respawn="false" respawn_delay="1.0" output="screen">
    </node>
</launch>

