<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="device" default="cuda" doc="Device to run tensor operations on: cpu or cuda"/>
    <arg name="rviz" default="true" doc="Launch RViz for data visualization or not"/>
    <arg name="world" default="$(dirname)/../worlds/farmWith1CropRow.world"/>
    <arg name="segment_file" default="road_segments.pyc"/>
    <arg name="road_info_file" default="road_info_twoway.pyc"/>

    <!-- Gazebo world and spawn Husky robot -->
    <include file="$(dirname)/husky_gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="rviz" value="$(arg rviz)"/>
    </include>

    <!-- Road crossing -->
    <include file="$(find road_crossing)/launch/services.launch">
        <arg name="segment_file" value="$(arg segment_file)"/>
        <arg name="road_info_file" value="$(arg road_info_file)"/>
    </include>
</launch>
